:root {
  /* COLORS */
  --clr-dark-magenta: hsl(300, 43%, 22%);
  --clr-pink: hsl(333, 80%, 67%);

  --clr-gray-magenta: hsl(303, 10%, 53%);
  --clr-light-gray-magenta: hsl(300, 24%, 96%);

  /* FONTS */
  --ff-main: 'League Spartan', sans-serif;
  --fw-reg: 400;
  --fw-semi: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: var(--ff-main);
  max-height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/*************************/
/* General Styles */

body {
  display: grid;
  gap: 2rem;
  place-content: center;
  text-align: center;
  margin: 5rem 2rem;
  max-width: 60rem;
}

@media only screen and (min-width: 600px) {
  body {
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    grid-template-rows: repeat(1fr, 2);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8rem;
    max-width: 50%;
  }
}

/*************************/
/* Heading & About */

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__h1 {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  color: var(--clr-dark-magenta);
  line-height: 3.2rem;
}

.header__info {
  font-size: 1.9rem;
  line-height: 2.5rem;
  color: var(--clr-gray-magenta);
}

@media only screen and (min-width: 1440px) {
  .header {
    text-align: start;
    max-width: 85ch;
  }
}

/*************************/
/* Reviews */

.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (min-width: 1440px) {
  .text-reviews {
    flex-direction: row;
    grid-column: 1 / -1;
  }
}

/*************************/
/* Star Reviews */

.stars {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  background-color: var(--clr-light-gray-magenta);
  border-radius: 1rem;
  padding: 1rem;
  padding-top: 2rem;
}

@media only screen and (min-width: 1440px) {
  .stars {
    flex-direction: row;
    padding-left: 3rem;
  }  
}

.stars__stars {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media only screen and (min-width: 1440px) {
  .star-img {
    height: 1.5rem;
    aspect-ratio: 1;
  } 
}

.stars__review-type {
  font-size: 1.7rem;
  font-weight: var(--fw-bold);
  color: var(--clr-dark-magenta);
}

@media only screen and (min-width: 1440px) {
  .stars__review-type {
    margin-left: 1rem;
  }  
}

@media only screen and (min-width: 1440px) {
  .stars__card-1 { transform: translateX(-20%); }
  .stars__card-2 { transform: translateX(-10%); }
}

/*************************/
/* Text Reviews */

.review {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  background-color: var(--clr-dark-magenta);
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.2rem;
  text-align: start;

  border-radius: 1rem;
  padding: 2rem;
  padding-top: 2rem;
}

.reviews__img {
  border-radius: 50%;
  width: 5rem;
  aspect-ratio: 1;
}

.reviews__verified {
  color: var(--clr-pink)
}

.col {
  align-self: center;
}

@media only screen and (min-width: 1440px) {
  .reivews__card-2 { transform: translateY(10%); }
  .reivews__card-3 { transform: translateY(20%); }
}

/*************************/
/* Helper Classes */

.flex-row {
  display: flex;
  gap: 3rem;
}